@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@500&display=swap');

:root {
  font-family: 'Orbitron', system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  @apply bg-white text-neutral-900;
  color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

.dark {
  @apply bg-neutral-900 text-neutral-100;
}

/* Light + Dark theme */
.bg-primary {
  @apply bg-neutral-100 dark:bg-neutral-900;
}
.bg-secondary {
  @apply bg-neutral-200 dark:bg-neutral-800;
}
.bg-tertiary {
  @apply bg-neutral-300 dark:bg-neutral-700;
}
.text-primary {
  @apply text-neutral-900 dark:text-neutral-100;
}
.text-secondary {
  @apply text-neutral-800 dark:text-neutral-200;
}
.text-tertiary {
  @apply text-neutral-700 dark:text-neutral-300;
}
.text-accent {
  @apply text-neutral-600 dark:text-neutral-400;
}

.profile-col1 {
  @apply flex min-h-80 items-center self-center text-center;
}

.profile-col2 {
  @apply min-h-80;
}

.profile-title {
  @apply mb-5 text-center text-4xl dark:bg-neutral-900;
}

.profile-name {
  @apply mb-25 text-center dark:bg-neutral-900;
}

.profile-following-title {
  @apply mb-5 text-center dark:bg-neutral-900;
}

.profile-following {
  @apply min-h-25 rounded-lg border-2 px-5 pt-2 text-center dark:bg-neutral-900;
}



.profile-image {
  @apply  rounded-b-md object-cover mr-4 items-stretch md:items-center;
}

.font-bebas {
  font-family: 'Bebas Neue', cursive;
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}
